---
import ArticleHeading from "@components/composite/heading/blog.astro";
import Breadcrumbs from "@components/display/breadcrumbs.astro";
import ResponsiveWidth from "@components/layout/responsive-width.astro";
import Base from "@layouts/base.astro";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
export const getStaticPaths = (async () => {
  const blogs = await getCollection("blog");
  const categories = [
    ...new Set(blogs.flatMap((blog) => blog.data.category)).values(),
  ];
  return categories.map((category) => ({
    params: {
      category,
    },
  }));
}) satisfies GetStaticPaths;

const blogs = (
  await getCollection("blog", (blog) =>
    blog.data.category.includes(Astro.params.category),
  )
)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .filter((blog) => blog.data.publish);
---

<Base
  title={`namachan10777/#${Astro.params.category}`}
  description={`カテゴリー${Astro.params.category}に属すブログ記事の一覧`}
>
  <ResponsiveWidth>
    <Breadcrumbs path={["category", Astro.params.category]} />
    <ul class="flex flex-col gap-12">
      {
        blogs.map((blog) => (
          <li class="flex flex-col items-start">
            <ArticleHeading
              bodyMarkdown={blog.body}
              title={blog.data.title}
              href={`/blog/${blog.slug}`}
              categories={blog.data.category}
              date={blog.data.date}
            />
          </li>
        ))
      }
    </ul>
  </ResponsiveWidth>
</Base>
