---
import InfoBar from "@components/composite/block-parts/info-bar.astro";
import ArticleHeading from "@components/composite/heading/blog.astro";
import Breadcrumbs from "@components/display/breadcrumbs.astro";
import ResponsiveWidth from "@components/layout/responsive-width.astro";
import Base from "@layouts/base.astro";
import { getCollection } from "astro:content";
const blogs = (await getCollection("blog"))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .filter((blog) => blog.data.publish);
---

<Base title="namachan10777/blog" description="ブログ記事の一覧">
  <ResponsiveWidth>
    <Breadcrumbs path={["blog"]} />
    <div class="py-2">
      <InfoBar ghPath="src/pages/blog/index.astro" />
    </div>
    <ul class="flex flex-col gap-12 py-4">
      {
        blogs.map((blog) => (
          <li class="flex flex-col items-center">
            <ArticleHeading
              title={blog.data.title}
              date={blog.data.date}
              bodyMarkdown={blog.body}
              tags={blog.data.category}
              href={`/blog/${blog.slug}`}
            />
          </li>
        ))
      }
    </ul>
  </ResponsiveWidth>
</Base>
