---
import Breadcrumbs from "@components/display/breadcrumbs.astro";
import ResponsiveWidth from "@components/layout/responsive-width.astro";
import Base from "@layouts/base.astro";
import { getCollection } from "astro:content";
const blogs = (await getCollection("blog")).sort(
  (a, b) => b.data.date.getDate() - a.data.date.getDate(),
);
function dateToString(date: Date): string {
  const year = `0${date.getFullYear()}`.slice(-4);
  const month = `0${date.getMonth()}`.slice(-2);
  const day = `0${date.getDay()}`.slice(-2);
  return `${year}-${month}-${day}`;
}
---

<Base title="/blog" description="ブログ記事の一覧">
  <ResponsiveWidth>
    <Breadcrumbs path={["blog"]} />
    <ul>
      {
        blogs.map((blog) => (
          <li>
            <div class="date">{dateToString(blog.data.date)}</div>
            <div>
              <a href={`/blog/${blog.slug}`}>{blog.data.title}</a>
            </div>
          </li>
        ))
      }
    </ul>
  </ResponsiveWidth>
</Base>

<style>
  a {
    color: var(--color-text-strong);
    font-size: var(--font-size-xl);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 3px;
  }

  .date {
    font-family: var(--mono-family);
    color: var(--color-text-weak);
    font-weight: 100;
    margin-bottom: 0.5rem;
  }

  li {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
</style>
