---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Base from "@layouts/Base.astro";
import PostPreview from "@components/post-preview.astro";

export const getStaticPaths = (async () => {
  const posts = await getCollection("post");
  const tags = new Set(posts.flatMap((post) => post.data.tags));
  return [...tags].map((tag) => ({
    params: {
      tag,
    },
  }));
}) satisfies GetStaticPaths;

const posts = (
  await getCollection("post", (post) =>
    post.data.tags.includes(Astro.params.tag),
  )
).sort((a, b) => b.data.date.getDate() - a.data.date.getDate());
---

<Base
  title={`posts of #${Astro.params.tag}`}
  description={`posts in #${Astro.params.tag}`}
  imageUrl={`https://www.namachan10777.dev/post/tag/${Astro.params.tag}`}
  og={{ type: "website" }}
>
  <h1
    class="before:content-['#'] font-bold text-4xl before:text-gray-600 before:text-3xl my-4"
  >
    {Astro.params.tag}
  </h1>
  <ol class="flex flex-col gap-6">
    {
      posts.map((post) => (
        <li>
          <PostPreview post={post} />
        </li>
      ))
    }
  </ol>
</Base>
