---
import Date from "@components/display/date.astro";
import MarkdownPreview from "@components/display/markdown-preview.astro";

export type Props = {
  date: Date;
  href: string;
  title: string;
  bodyMarkdown: string;
};
---

<div class="container">
  <div class="date"><Date date={Astro.props.date} /></div>
  <h3 class="title">
    <a href={Astro.props.href}>{Astro.props.title}</a>
  </h3>
  <div class="preview-area">
    <MarkdownPreview text={Astro.props.bodyMarkdown} limit={255} />
    <a href={Astro.props.href} class="read-more">読む</a>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .title {
    color: var(--color-text-strong);
    font-size: var(--font-size-xl);
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  .read-more {
    font-size: var(--font-size-normal);
    display: block;
    color: var(--color-link);
  }

  .preview-area {
    display: flex;
    flex-direction: column;
    color: var(--color-text-normal);
    gap: 0.5rem;
  }

  .date {
    font-family: var(--mono-family);
    color: var(--color-text-weak);
    font-weight: 100;
  }
</style>
