---
import Date from "@components/display/date.astro";
import MarkdownPreview from "@components/display/markdown-preview.astro";

export type Props = {
  date: Date;
  href: string;
  title: string;
  categories: string[];
  bodyMarkdown: string;
};
---

<div class="flex flex-col gap-4">
  <div class="font-mono text-gray-600"><Date date={Astro.props.date} /></div>
  <h3 class="text-black text-xl font-bold underline">
    <a href={Astro.props.href}>{Astro.props.title}</a>
  </h3>
  <ul class="flex flex-wrap flex-row">
    {
      Astro.props.categories.map((tag) => (
        <li>
          <a
            class="font-mono underline text-black decoration-1"
            href={`/category/${tag}`}
          >
            #{tag}
          </a>
        </li>
      ))
    }
  </ul>
  <div class="flex flex-col text-gray-900 gap-2">
    <MarkdownPreview text={Astro.props.bodyMarkdown} limit={255} />
    <a href={Astro.props.href} class="text-blue-700">読む</a>
  </div>
</div>
