---
import icon from "@assets/icon.webp";
import Profile from "@components/composite/block-parts/profile.astro";
import Section from "@components/composite/block-parts/section.astro";
import Timeline from "@components/composite/block-parts/timeline.astro";
import Paper from "@components/composite/heading/paper.astro";
import Date from "@components/display/date.astro";
import Typography from "@components/display/typography.astro";
import ResponsiveWidth from "@components/layout/responsive-width.astro";
import Base from "@layouts/base.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const events = [
  { date: "2015-04", title: "香川高等専門学校 機械工学科入学" },
  { date: "2016-04", title: "香川高等専門学校 電気情報工学科転科" },
  {
    date: "2020-03",
    title: "日本音響学会 春季研究発表会 ポスター発表",
  },
  { date: "2020-03", title: "香川高等専門学校 電気情報工学科卒業" },
  { date: "2020-04", title: "筑波大学 情報学群 情報科学類入学" },
  {
    date: "2021-09",
    title: "クックパッド株式会社 就業型インターン(SRE) (現在退職)",
  },
  {
    date: "2021-12",
    title: "Taiwan Now! 蘭の舟ロボット設計・開発（電装系）",
  },
  {
    date: "2022-09",
    title: "京都府広域アートプロジェクト 照明システム開発",
  },
  {
    date: "2023-12",
    title: "横浜 ヨルノヨ Web音楽同期、照明制御",
  },
  {
    date: "2023-08",
    title: "株式会社ArkEdge Space インターン（在職）",
  },
];

const interests = [
  {
    text: "Distributed storage",
    icon: "mdi:storage",
  },
  {
    text: "Metrics and Logs",
    icon: "mdi:barometer",
  },
  {
    text: "Asynchronous runtime",
    icon: "mdi:engine",
  },
  {
    text: "Fast RPC",
    icon: "mdi:message-fast",
  },
];

const blogs = (await getCollection("blog"))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .filter((blog) => blog.data.publish);
---

<Base title="namachan10777" description="namachan10777">
  <ResponsiveWidth>
    <Profile src={icon} name="Masaki Nakano">
      <span slot="name">Masaki Nakano</span>
      <Typography>
        HPCにおける分散ストレージ、非同期ランタイムを研究テーマとしています。
        研究以外ではオンプレ計算機クラスタのメンテナンス、
        AWSを使ったDWH、Webフロントエンドなど色々しています。
      </Typography>
    </Profile>
  </ResponsiveWidth>
  <ResponsiveWidth>
    <Section title="Interests">
      <ul
        class="grid grid-cols-[repeat(auto-fit,minmax(8rem,max-content))] gap-8"
      >
        {
          interests.map((interest) => (
            <li class="flex flex-row items-center gap-1">
              <Icon name={interest.icon} class="text-2xl" />
              <span>{interest.text}</span>
            </li>
          ))
        }
      </ul>
    </Section>
  </ResponsiveWidth>
  <ResponsiveWidth>
    <Section title="Timeline">
      <Timeline events={events} />
    </Section>
  </ResponsiveWidth>
  <ResponsiveWidth>
    <Section title="Blog">
      <ol class="flex flex-col gap-6">
        {
          blogs.slice(0, 5).map((blog) => (
            <li class="flex flex-col gap-2 ">
              <h3 class="text-xl underline">
                <a href={`/blog/${blog.slug}`}>{blog.data.title}</a>
              </h3>
              <div class="text-gray-500">
                <Date date={blog.data.date} />
              </div>
            </li>
          ))
        }
      </ol>
      <a href="/blog" class="text-blue-600 block mt-4">さらに読む</a>
    </Section>
  </ResponsiveWidth>
  <ResponsiveWidth>
    <Section title="Papers">
      <ul class="flex flex-col gap-8">
        <Paper
          title="RustのUCXラッパーasync-ucxの性能評価"
          booktitle="第192回HPC研究会"
        />
        <Paper
          title="ユーザーからの補助情報を用いるインタラクティブ音源分離システム"
          booktitle="日本音響学会 2020年"
          href="https://kitalab.net/pdf/2020_ASJspr_nakano.pdf"
        />
        <Paper
          title="ユーザーからの補助情報を用いる独立低ランク行列分析"
          booktitle="日本音響学会"
          href="https://kitalab.net/pdf/2020_ASJaut_oshima.pdf"
        />
      </ul>
    </Section>
  </ResponsiveWidth>
</Base>
