---
import Base from "@layouts/Base.astro";
import { getCollection } from "astro:content";
import Section from "@components/section.astro";
import Event from "@components/events.astro";
import Icon from "@asset/icon.webp";
import { Picture } from "astro:assets";
import Typography from "@components/Typography.astro";
import { Code } from "astro:components";
import Publication from "@components/publication.astro";
import PostPreview from "@components/PostPreview.astro";

const events = (await getCollection("event")).sort(
  (a, b) => b.data.date.getDate() - a.data.date.getDate(),
);
const posts = (await getCollection("post")).sort(
  (a, b) => b.data.date.getDate() - a.data.date.getDate(),
);
const pubs = (await getCollection("pub")).sort(
  (a, b) => b.data.date.getDate() - a.data.date.getDate(),
);

const profileCode = `\
let region = "ap-northeast-1";
let langs = hashset!{Lang::Ja, Lang::En};
let contact = [
  format!("{}@{}", "admin", "namachan10777.dev"),
  format!("{}@{}", "mnakano", "hpcs.cs.tsukuba.ac.jp"),
];
`;
---

<Base title="namachan10777">
  <div class="flex flex-col items-center gap-4">
    <div class="w-36">
      <Picture src={Icon} alt="icon" class="rounded-full w-full h-auto" />
    </div>
    <h1 class="text-3xl font-bold">namachan10777</h1>
    <span class="text-2xl font-bold text-gray-600">Masaki Nakano</span>
  </div>
  <Section title="Profile">
    <Typography>
      A student at University of Tsukuba. Studying in distributed storage system
      in HPC.</Typography
    >
    <Code code={profileCode} lang={"rust"} theme={"github-light"} />
  </Section>
  <Section title="Timeline">
    <Event events={events} />
  </Section>
  <Section title="Publications">
    <ol class="flex flex-col gap-4">
      {
        pubs.map((pub) => (
          <li>
            <Publication pub={pub} />
          </li>
        ))
      }
    </ol>
  </Section>
  <Section title="Posts">
    <ol class="flex flex-col gap-y-6">
      {
        posts.slice(0, Math.min(3, posts.length)).map((post) => (
          <li>
            <PostPreview post={post} />
          </li>
        ))
      }
    </ol>
    <a href="/post">read more</a>
  </Section>
</Base>
