---
import { getCollection } from 'astro:content';
import '../styles/reset.css';
import '../styles/global.css';
import Heading2 from '../components/heading/Heading2.astro';
import Base from '../layouts/Base.astro';
import PostPreview from '../components/post-preview.astro';
import icon from '../assets/icon.webp';
import { Image } from 'astro:assets';
import Paragraph from '../components/Paragraph.astro';
import Publication from '../components/Publication.astro';

// Get all blog posts
const posts = await getCollection('post', post => post.data.publish);
const pubs = await getCollection('pub');

// Sort posts by date (newest first)
const sortedPosts = posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Base title="namachan10777.dev" description="namachan10777's personal website">
  <main>
    <section class="biography">
      <div class="icon-container">
        <Image src={icon} alt="namachan10777" width="200" height="200" />
      </div>
      <div class="biography-content">
        <span class="name">Masaki Nakano</span>
        <Paragraph>
          A student at University of Tsukuba. Studying in distributed storage system in HPC.
        </Paragraph>
      </div>
    </section>
    <section class="publications">
      <Heading2 class="publications-heading">Publications</Heading2>
      <ul class="pub-list">
        {
          pubs.map(pub => (
            <li class="pub-item">
              <Publication
                title={pub.data.title}
                booktitle={pub.data.booktitle}
                date={pub.data.date}
                url={pub.data.href}
              />
            </li>
          ))
        }
      </ul>
    </section>
    <section class="blog-posts">
      <Heading2 class="blog-posts-heading">Blog Posts</Heading2>
      <ul>
        {
          sortedPosts.map(post => (
            <li class="post-preview-item">
              <PostPreview post={post} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Base>

<style>
  .biography {
    margin-block-start: var(--space-md);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-md);
  }

  .name {
    font-size: var(--font-size-lg);
    font-weight: bold;
  }

  .biography-content {
    margin-inline-start: var(--space-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
  }

  .icon-container > img {
    max-height: 100%;
    height: auto;
    border-radius: 50%;
  }

  .icon-container {
    width: 6rem;
    min-width: 4rem;
  }

  .blog-posts {
    margin-block-start: var(--space-xl);
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-block-end: var(--space-xl);
  }

  .blog-posts-heading {
    padding-block-end: var(--space-md);
  }

  .pub-list {
    display: grid;
    grid-template-columns: 8rem 1fr;
    row-gap: var(--space-sm);
  }

  .pub-list li {
    display: contents;
  }

  ul .post-preview-item:nth-child(n + 2) {
    border-top: 1px solid rgb(var(--gray-light));
  }
</style>
