---
import Base from "@layouts/Base.astro";
import { getCollection } from "astro:content";
import Section from "@components/section.astro";
import Event from "@components/events.astro";
import MyIcon from "@asset/icon.webp";
import { Picture } from "astro:assets";
import Typography from "@components/typography.astro";
import CodeBlock from "@components/mdx/code-block.astro";
import Publication from "@components/publication.astro";
import PostPreview from "@components/post-preview.astro";
import Anchor from "@components/mdx/anchor.astro";
import { Icon } from "astro-icon/components";

const events = (await getCollection("event")).sort(
  (a, b) => b.data.date.getDate() - a.data.date.getDate(),
);
const posts = (await getCollection("post")).sort(
  (a, b) => b.data.date.getDate() - a.data.date.getDate(),
);
const pubs = (await getCollection("pub")).sort(
  (a, b) => b.data.date.getDate() - a.data.date.getDate(),
);

const profileCode = `\
let region = "Tsukuba, 🇯🇵";
let contact = [
  format!("{}@{}", "admin", "namachan10777.dev"),
  format!("{}@{}", "mnakano", "hpcs.cs.tsukuba.ac.jp"),
];
`;
---

<Base
  title="namachan10777"
  description="namachan10777's profile and posts"
  imagePath="index.webp"
  og={{ type: "website" }}
>
  <div class="flex flex-col items-center gap-4 mt-4">
    <div class="w-36">
      <Picture src={MyIcon} alt="icon" class="rounded-full w-full h-auto" />
    </div>
    <h1 class="text-3xl font-bold">namachan10777</h1>
    <span class="text-2xl font-bold text-gray-600">Masaki Nakano</span>
  </div>
  <Section title="Profile">
    <div class="flex flex-col gap-2 font-bold">
      <Anchor href="https://github.com/namachan10777">
        <Icon name="iconoir:github" class="text-2xl inline-block mr-1" />
        namachan10777
      </Anchor>
      <Anchor href="https://x.com/namachan10777">
        <Icon name="iconoir:x" class="text-2xl inline-block mr-1" />
        namachan10777
      </Anchor>
      <Anchor href="/post">
        <Icon name="iconoir:post" class="text-2xl inline-block mr-1" />
        posts
      </Anchor>
    </div>
    <Typography>
      A student at University of Tsukuba. Studying in distributed storage system
      in HPC.</Typography
    >
    <CodeBlock code={profileCode} lang="rust" />
  </Section>
  <Section title="Timeline">
    <Event events={events} />
  </Section>
  <Section title="Publications">
    <ol class="flex flex-col gap-4">
      {
        pubs.map((pub) => (
          <li>
            <Publication pub={pub} />
          </li>
        ))
      }
    </ol>
  </Section>
  <Section title="Posts" href="/post">
    <ol class="flex flex-col gap-y-6">
      {
        posts.slice(0, Math.min(3, posts.length)).map((post) => (
          <li>
            <PostPreview post={post} />
          </li>
        ))
      }
    </ol>
    <span class="text-xl font-bold group">
      <Anchor href="/post">
        <Icon
          name="iconoir:arrow-right-circle"
          class="inline-block mr-2 group-hover:scale-110 transition-transform"
        />
        read more
      </Anchor>
    </span>
  </Section>
</Base>
