---
import Base from "@layouts/Base.astro";
import Anchor from "@components/mdx/anchor.astro";
import Heading1 from "@components/mdx/heading1.astro";
import Heading2 from "@components/mdx/heading2.astro";
import licenseChecker, { type ModuleInfos } from "license-checker-rseidelsohn";
import { getCollection } from "astro:content";

async function checkLicense(): Promise<ModuleInfos> {
  return new Promise((resolve, reject) => {
    licenseChecker.init(
      {
        start: "./",
      },
      (err, packages) => {
        if (err) {
          reject(err);
        } else {
          resolve(packages);
        }
      },
    );
  });
}

const moduleInfos = await checkLicense();

const sourceLicenses = await getCollection("thirdparty");
---

<Base
  title="notice"
  description="3rd party license"
  imagePath="/notice.webp"
  og={{ type: "website" }}
  path={[
    {
      absolute: "/notice",
      display: "Notice",
    },
  ]}
>
  <Heading1>Notice</Heading1>
  <section>
    <Heading2>3rd party licenses</Heading2>
    <table class="source-license-table">
      <thead>
        <tr>
          <th>source</th>
          <th>from</th>
          <th>license</th>
        </tr>
      </thead>
      <tbody
        >{
          sourceLicenses.map(({ data: { src, from } }) => {
            const sourceHref = `https://github.com/namachan10777/namachan10777.dev/blob/master/${src}`;
            return from.map(({ title, href, license }, index) => (
              <tr>
                {index === 0 ? (
                  <td rowspan={from.length}>
                    <Anchor href={sourceHref}>
                      <code class="source-file-name">{src}</code>
                    </Anchor>
                  </td>
                ) : null}
                <td>
                  <Anchor href={href}>{title}</Anchor>
                </td>
                <td>{license}</td>
              </tr>
            ));
          })
        }</tbody
      >
    </table>
  </section>
  <section>
    <Heading2>3rd party package licenses</Heading2>
    <table class="package-license-table">
      <thead>
        <tr>
          <th>package</th>
          <th>license</th>
        </tr>
      </thead>
      <tbody>
        {
          Object.entries(moduleInfos).map(([name, info]) => {
            const href =
              info.url ||
              info.repository ||
              `https://www.npmjs.com/package/${name}`;
            return (
              <tr>
                <td>
                  <Anchor href={href}>{name}</Anchor>
                </td>
                <td>{info.licenses}</td>
              </tr>
            );
          })
        }
      </tbody>
    </table>
  </section>
</Base>

<style>
  .source-file-name {
    font-family: var(--font-mono);
  }

  .source-license-table {
    width: 100%;
    border-collapse: collapse;
  }

  .source-license-table th {
    border-bottom: 1px solid var(--fg-hr);
    padding-block: 0.5rem;
    padding-inline: 1rem;
    font-weight: bold;
  }

  .source-license-table td {
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-bottom: 1px solid var(--fg-hr);
  }

  .package-license-table {
    width: 100%;
    border-collapse: collapse;
  }

  .package-license-table th {
    border-bottom: 1px solid var(--fg-hr);
    padding-block: 0.5rem;
    padding-inline: 1rem;
    font-weight: bold;
  }

  .package-license-table td {
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-bottom: 1px solid var(--fg-hr);
  }
</style>
