---
import Base from "@layouts/Base.astro";
import type { GetStaticPaths } from "astro";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";
import Hr from "@components/mdx/hr.astro";
import Typography from "@components/typography.astro";
import Anchor from "@components/mdx/anchor.astro";
import Code from "@components/mdx/code.astro";
import Heading2 from "@components/mdx/heading2.astro";
import Heading3 from "@components/mdx/heading3.astro";
import Heading4 from "@components/mdx/heading4.astro";
import Section from "@components/mdx/section.astro";
import UnorderedList from "@components/mdx/unordered-list.astro";
import OrderedList from "@components/mdx/ordered-list.astro";
import Image from "astro/components/Image.astro";

export const getStaticPaths = (async () => {
  const collection = await getCollection("post");
  const posts = collection.map((post) => {
    const [_, year, name] = /^(\d{4})\/(.+)$/.exec(post.slug)!;
    return {
      params: { slug: post.slug },
      props: { year, name },
    };
  });
  return posts;
}) satisfies GetStaticPaths;

const entry = await getEntry("post", Astro.params.slug);
const { Content } = await entry.render();
---

<Base
  title={entry.data.title}
  description={entry.data.description}
  imagePath={`post/${entry.slug}.webp`}
  og={{
    type: "article",
    tags: entry.data.tags,
    images: entry.data.images?.map((img) => img.src),
  }}
  path={[
    { display: { name: "profile", icon: "iconoir:home" }, absolute: "/" },
    { display: "post", absolute: "/post" },
    { display: entry.data.title, absolute: `/post/${entry.slug}` },
  ]}
>
  <h1
    class="before:content-['#'] text-4xl font-bold before:text-3xl before:text-gray-600 my-4"
  >
    {entry.data.title}
  </h1>
  <ul class="flex flex-wrap grid-4 my-4">
    {
      entry.data.tags.map((tag) => (
        <li class="font-mono font-semibold">
          <Anchor href={`/post/tag/${tag}`}>#{tag}</Anchor>
        </li>
      ))
    }
  </ul>
  <Content
    components={{
      hr: Hr,
      p: Typography,
      a: Anchor,
      img: Image,
      code: Code,
      h1: Heading2,
      h2: Heading2,
      h3: Heading3,
      h4: Heading4,
      h5: Heading4,
      h6: Heading4,
      section: Section,
      ul: UnorderedList,
      ol: OrderedList,
    }}
  />
</Base>
