---
export interface Props {
  degree: string;
  school: {
    name: string;
    href: string;
  };
  acquisition?: Date;
  start: Date;
  advisor: {
    name: string;
    href: string;
    position: string;
  };
  topic: string;
}

const props = Astro.props;
---

<li>
  <div class="entry">
    <span>
      <strong>{props.degree}</strong>,
      <a href={props.school.href}>{props.school.name}</a>,
      <time datetime={props.start.toISOString()}
        >{props.start.getUTCFullYear()}/{props.start.getMonth() + 1}</time
      >
      - {
        props.acquisition ? (
          <time datetime={props.acquisition.toISOString()}>
            {props.acquisition.getUTCFullYear()}/{props.acquisition.getMonth() + 1}
          </time>
        ) : (
          <em class="present">present</em>
        )
      }
    </span>
    <span>
      <span>Advisor:</span>
      <span>
        <a href={props.advisor.href}>{props.advisor.position} {props.advisor.name}</a>
      </span>
    </span>
    <span>
      <span>Topic:</span>
      <span>{props.topic}</span>
    </span>
  </div>
</li>

<style>
  .entry {
    display: grid;
    flex-direction: column;
  }
</style>
