---
import { Icon } from "astro-icon/components";
import Anchor from "./mdx/anchor.astro";

export type MenuItem = {
  title: string;
  href: string;
};

export interface MenuCategory {
  title: string;
  href?: string;
  type: "list" | "cloud";
  children?: MenuItem[];
  icon: string;
}

export interface Props {
  category: MenuCategory;
}

const { category } = Astro.props;
---

<div class="contents">
  <Icon name={category.icon} class="text-2xl" />
  <span class="text-2xl font-semibold">
    {
      category.href ? (
        <Anchor href={category.href}>{category.title}</Anchor>
      ) : (
        category.title
      )
    }
  </span>
  {
    (() => {
      if (category.children && category.children.length > 0) {
        if (category.type === "list") {
          return category.children.map((item) => (
            <div class="col-start-2 text-lg">
              <Anchor href={item.href}>{item.title}</Anchor>
            </div>
          ));
        } else {
          return (
            <div class="flex col-start-2 flex-wrap max-w-full gap-2 text-lg font-mono">
              {category.children.map((item) => (
                <Anchor href={item.href}>{item.title}</Anchor>
              ))}
            </div>
          );
        }
      }
    })()
  }
</div>
