---
import Anchor from "@components/mdx/anchor.astro";
import type { MenuCategory } from "./sidepane-category.astro";
import { getCollection } from "astro:content";
import SidepaneCategory from "./sidepane-category.astro";

const posts = await getCollection("post");
const recentPosts = posts
  .sort((b, a) => b.data.date.getDate() - a.data.date.getDate())
  .slice(0, Math.min(3, posts.length));
const tags = [...new Set(posts.flatMap((post) => post.data.tags))];

const categories: MenuCategory[] = [
  {
    title: "GitHub",
    icon: "iconoir:github",
    href: "https://github.com/namachan10777",
    type: "list",
  },
  {
    title: "X",
    icon: "iconoir:x",
    href: "https://x.com/namachan10777",
    type: "list",
  },
  {
    title: "Posts",
    icon: "iconoir:post",
    href: "/post",
    children: recentPosts.map((post) => ({
      title: post.data.title,
      href: `/post/${post.slug}`,
    })),
    type: "list",
  },
  {
    title: "tags",
    icon: "iconoir:hashtag",
    type: "cloud",
    children: tags.map((tag) => ({
      title: `#${tag}`,
      href: `/post/tag/${tag}`,
    })),
  },
];
---

<nav class="px-4">
  <div class="text-2xl font-bold py-4">
    <Anchor href="/">namachan10777</Anchor>
  </div>
  <hr />
  <div class="grid grid-cols-[auto_1fr] items-center gap-x-2 gap-y-2 py-2">
    {
      categories.map((category, idx) =>
        idx === 0
          ? [<SidepaneCategory category={category} />]
          : [
              <hr class=" col-span-2" />,
              <SidepaneCategory category={category} />,
            ],
      )
    }
  </div>
</nav>
