---
import Authors from './Authors.astro';
import type {Author} from "./Authors.astro";

export interface Props {
  authors: Author[];
  translators?: Author[];
  title: string;
  publisher: string;
  comment?: string;
  year: number;
}

const props = Astro.props;
---

<li>
  {
  props.comment ? <strong>({props.comment})</strong> : null
  }
  {
    props.translators ?
      <span>Author: <Authors authors={props.authors} /></span>
      <span>Translator: <Authors authors={props.translators} /></span>
    :
      <Authors authors={props.authors} />
  }
  <span>"{props.title},"</span>
  <span>{props.publisher},</span>
  <time datetime={props.year.toString()}>{props.year}</time>
</li>
