---
import * as styles from "./anchor.css";

export interface Props {
  href: string;
  label?: string;
  id?: string;
}

const { href, label, id } = Astro.props;
---

{
  href.startsWith("http") ? (
    <a id={id} href={href} aria-label={label} class={styles.root}>
      <slot />
    </a>
  ) : (
    <a
      id={id}
      href={href}
      aria-label={label}
      class={styles.root}
      data-astro-prefetch
    >
      <slot />
    </a>
  )
}
