---
import '../styles/reset.css';
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ContentPlacement from '../components/ContentPlacement.astro';
import MarkdownContent from '../components/MarkdownContent.astro';

interface Props {
  title: string;
  description: string;
  date: Date;
  tags?: string[];
}

const { title, description, date, tags = [] } = Astro.props;
const formattedDate = new Intl.DateTimeFormat('ja-JP', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
}).format(date);
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | namachan10777.dev</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <Header />
    <ContentPlacement>
      <main>
        <article>
          <header>
            <h1>{title}</h1>
            <div class="metadata">
              <time datetime={date.toISOString()}>{formattedDate}</time>
              {tags.length > 0 && (
                <div class="tags">
                  {tags.map((tag) => (
                    <span class="tag">{tag}</span>
                  ))}
                </div>
              )}
            </div>
          </header>
          <MarkdownContent>
            <slot />
          </MarkdownContent>
        </article>
      </main>
    </ContentPlacement>
    <Footer />
  </body>
</html>

<style>
  article {
    margin-block: var(--space-xl);
  }
  
  header {
    margin-block-end: var(--space-xl);
  }
  
  h1 {
    margin-block-end: var(--space-xs);
  }
  
  .metadata {
    color: rgb(var(--gray));
    font-size: var(--font-size-xs);
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-md);
    margin-block-end: var(--space-md);
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
  }
  
  .tag {
    background-color: rgba(var(--gray-light), var(--opacity-high));
    padding-block: var(--space-2xs);
    padding-inline: var(--space-xs);
    border-radius: var(--border-radius-md);
    font-size: var(--font-size-xs);
  }
</style>
